 *{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
 }

.header{
  background-image: url(./img/image-hero.jpg);
  background-size: cover;
  background-position: center;
  color: white;  
}

.subHeader{
  padding: 50px 10vw;
}

nav{
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.Fmessage{
  padding: 30px;
  border: 1px solid white;
  width: 50%;
  text-transform: uppercase;
  font-size: 30px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.5;
}

a{
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}

a:hover{
  border-bottom: 1px solid white;
}

/* main section */

.main .subHeader{
  padding: 100px 10vw;
}

.vrSection{
  position: relative;
  margin-bottom: 100px;
}

.vrImg{
  width: 50vw;
}

.Fmessage2{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35%;
  color: gray;
  background-color: white;
  padding: 75px 75px 0px 75px;
}

.Fmessage2 h2{
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 200;
  color: rgb(59, 59, 59);
}