 *{
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
 }

.header{
  background-image: url(./img/image-hero.jpg);
  background-size: cover;
  background-position: center;
  color: white;  
}

.subHeader{
  padding: 50px 10vw;
}

nav{
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.Fmessage{
  padding: 30px;
  border: 1px solid white;
  width: 50%;
  text-transform: uppercase;
  font-size: 30px;
}
ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.5;
}

a{
  padding-bottom: 10px;
  text-decoration: none;
  color: white;
  transition: all 0.3s ease-in-out;
}

a:hover{
  border-bottom: 1px solid white;
}

/* main section */

.main .subHeader{
  padding: 100px 10vw;
}

.vrSection{
  position: relative;
  margin-bottom: 100px;
}

.vrImg{
  width: 50vw;
}

.Fmessage2{
  position: absolute;
  right: 0;
  bottom: 0;
  width: 35%;
  color: gray;
  background-color: white;
  padding: 75px 75px 0px 75px;
}

.Fmessage2 h2{
  text-transform: uppercase;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 200;
  color: rgb(59, 59, 59);
}

/* our creation section */

.creationTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}

.creationTitle h2{
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 200;
  color: rgb(59, 59, 59);
}

.creationTitle button{
  color: black;
  background: none;
  border: 1px solid black;
  padding: 10px;
  width: 125px;
  letter-spacing: 2px;
}

.creationTitle button:hover{
  color: white;
  background: black;
  cursor: pointer;
}

/* creation info */

.creationInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.card{
  width: 256px;
  height: 450px;
  background-size: cover;
  background-position: center;
  color: rgb(238, 237, 237);
  position: relative;
}
.card h2{
  position: absolute;
  bottom: 30px;
  left: 30px;
  width: 70%;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: 200;
} 

/* footer */

.footer{
  background-color: black;
  color: white;
  padding: 40px 10vw 10px 10vw;
}

.line{
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.line h4{
  color: gray;
}